<app-snackbar></app-snackbar>

<div class="container my-3">
    <h4>Ask a Question</h4>
    <hr>

    <form (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
        <div class="form-group mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="e.g. How to resolve this issue...?" class="form-control" name="title"
                id="title" [(ngModel)]="question.title" minlength="10" required>
        </div>
        <div class="form-group mb-3">
            <label for="body" class="form-label">Body</label>
            <div class="form-group my-3" class="title">
                <quill-editor [styles]="{'min-height': '120px'}"
                    placeholder="Describe your problem and include necessary information" [maxLength]="1000"
                    id="ql-editor" (onContentChanged)="onEditorChange($event)" theme="snow"></quill-editor>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="tags" class="form-label">Tags</label>
            <div class="tags-box mb-1" *ngIf="tags.length !== 0">
                <app-tags [tags]="tags"></app-tags>
                <div class="del-last-tag" (click)="deleteLastTag()"><i class="fa fa-close"></i></div>
            </div>
            <input type="text" class="form-control tag-input" name="tags" id="tags" placeholder="e.g. javascript, flutter" [(ngModel)]="inputTag">
            <small class="info">(Provide upto 5 specific tags related to it)</small>
        </div>
        <div class="form-group mb-3">
            <label for="files" class="form-label">Add images describing your problem</label>
            <input class="form-control" type="file" accept="image/*" id="files" (change)="onFilesChange($event)"
                multiple>
            <small class="info">(Choose upto 5 images and each must be less then 1mb)</small>
        </div>
        <button type="submit" class="btn btn-primary btn-sm my-3" [disabled]="!fieldsValid()">Publish Question</button>
        <button type="reset" class="btn btn-danger btn-sm mx-2" (click)="clearFields()">Clear</button>
        <small *ngIf="!isUserLoggedIn()">(You're not logged in)</small>
    </form>
    <div>
        {{ publishedStatus }}
    </div>
</div>