<div class="m-3">
    <h4>Add Question</h4>
    <hr>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group my-3">
            <label for="title">Question Title</label>
            <input type="text" class="form-control" name="title" id="title" [(ngModel)]="question.title">
        </div>
        <div class="form-group my-3">
            <quill-editor [styles]="{'min-height': '120px'}" [maxLength]="1000" id="ql-editor" (onContentChanged)="onEditorChange($event)"></quill-editor>
        </div>
        <div class="form-group my-3">
            <label for="tags">Tags (Separated by ,)</label>
            <input type="text" class="form-control" name="tags" id="tags" [(ngModel)]="tags">
        </div>
        <div class="form-group mb-3">
            <label for="files" class="form-label">Multiple files input example</label>
            <input class="form-control" type="file" accept="image/*" id="files" (change)="onFilesChange($event)"
                multiple>
        </div>
        <button type="submit" class="btn btn-primary btn-sm my-3" [disabled]="!fieldsValid()">Publish Question</button>
        <button type="reset" class="btn btn-danger btn-sm mx-3">Clear</button>
    </form>
    <div>
        {{ publishedStatus }}
    </div>
</div>