form {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.form-label {
    font-weight: 400;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
}

.info {
    font-size: 12px;
}

input:focus,
input:active {
    outline: none;
    box-shadow: none;
}

.tags-box {
    display: flex;
    width: fit-content;
}

.del-last-tag {
    cursor: pointer;
    margin-left: 10px;
}