<div class="container my-3">
    <h1>Recently Asked Questions</h1>
    <hr>
</div>
<div class="spinner-container" *ngIf="isLoading; else showQuestions">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<ng-template #showQuestions>
    <div *ngIf="questionsList.length === 0">
        <p>No questions found</p>
    </div>
    <div *ngFor="let question of questionsList">
        <app-question-item [questionItem]="question"></app-question-item>
    </div>
</ng-template>
<!-- 
<div *ngIf="!isLoading;">
    <button class="btn btn-light mx-3">Previous Page</button>
    <button class="btn btn-dark">Next Page</button>
</div> -->