<div *ngIf="isLoading; else showQuestions">
    <app-loader></app-loader>
</div>

<ng-template #showQuestions>
    <div *ngIf="questionsList.length === 0">
        <p>No questions found</p>
    </div>
    <div class="container my-3">
        <h1>Recently Asked Questions</h1>
        <hr>
    </div>
    <div *ngFor="let question of questionsList">
        <app-question-item [questionItem]="question"></app-question-item>
    </div>
</ng-template>

<div class="container" *ngIf="!isLoading;">
    <a id="next-btn" *ngIf="nextPageToken;" (click)="onPageBtnTap(true)" class="btn btn-dark">Next Page  <i class="fa fa-chevron-right"></i></a>
    <a id="prev-btn" *ngIf="prevPageToken;" (click)="onPageBtnTap(false)" class="btn btn-light mx-3"><i class="fa fa-chevron-left"></i>  Previous Page</a>
</div>