<div class="container">

    <p class="about">About</p>
    <p class="about-sub">ProbDiscuss is a question and answer website for professional and enthusiast students. It is developed in 2021 by Roshan Kumar. It features questions and answers on a wide range of topics helping students and professionals. User's can easily discuss on their problems and can come with better solution.</p>

    <img id="developer"
        src="https://firebasestorage.googleapis.com/v0/b/probdiscuss-qna.appspot.com/o/assets%2Fdeveloper.jpeg?alt=media"
        width="150px" height="150px" alt="" srcset="">

    <q>You can teach a student a lesson for a day; but if you can teach him to learn by creating curiosity, he will continue the learning process as long as he lives</q>

    <p class="developer-name">Roshan Kumar</p>

    <p class="dev-sub">SOFTWARE DEVELOPER</p>
</div>