<app-confirm></app-confirm>

<app-snackbar></app-snackbar>

<div *ngIf="isLoading else showAns">
    <p>Loading Answers...</p>
</div>

<ng-template #showAns>
    <div class="ans-filter">
        <div class="ans-count">{{answers.length === 0 ? 'No answers yet' : answers.length === 1 ? '1 Answer' :
            (answers.length + ' Answers')}}
        </div>
        <div class="filter-btns" *ngIf="answers.length > 1">
            <a class="btn btn-recent" [ngClass]="{'filter-active': selectedTab('recent') }"
                [routerLink]="['/question/' + question.questionId]" [queryParams]="{sort: 'recent'}">Recent</a>
            <a class="btn btn-oldest" [ngClass]="{'filter-active': selectedTab('oldest') }"
                [routerLink]="['/question/' + question.questionId]" [queryParams]="{sort: 'oldest'}">Oldest</a>
            <a class="btn btn-votes" [ngClass]="{'filter-active': selectedTab('votes') }"
                [routerLink]="['/question/' + question.questionId]" [queryParams]="{sort: 'votes'}">Votes</a>
        </div>
    </div>
    <div class="container" *ngFor="let ans of answers">
        <div class="ans-container">
            <div class="ans-left">
                <div class="upvote-btn"
                    [ngClass]="{'user-upvoted': ans.upvotes !== undefined && currentUserId() != null && ans.upvotes.includes(currentUserId()!)}"
                    (click)="onUpvoteBtnClick(ans)"></div>
                <div class="upvote-value">{{ans.upvotes?.length || 0}}</div>
                <div class="tick" [ngClass]="{'accepted-ans': question.acceptedAnsId === ans.answerId}"
                    *ngIf="question.userId === currentUserId(); else viewerTick" (click)="markAcceptedAnswer(ans)">
                    <i class="fa fa-check"></i>
                </div>
                <ng-template #viewerTick>
                    <div class="tick accepted-ans" *ngIf="question.acceptedAnsId === ans.answerId"><i
                            class="fa fa-check"></i></div>
                </ng-template>

            </div>

            <div class="ans-body">
                <!-- <div *ngIf="ans.userId === currentUserId()">
                    <b>Your Answer</b>
                </div> -->

                <quill-view-html [ngStyle]="editorStyle" [content]="ans.content" theme="snow"></quill-view-html>
            </div>
        </div>
        <app-qna-user-info [imageUrl]="usersMap.get(ans.userId)?.photoUrl!" [name]="ans.username" [userId]="ans.userId"
            [isQues]="false" [date]="ans.answeredDate"></app-qna-user-info>
    </div>

    <div *ngIf="isUserAllowedToAns" class="container m-3">
        <div class="m-3" style="height: 250px">
            <h5>Your Answer</h5>
            <form (ngSubmit)="addAnswer()">
                <div class="form-group my-3">
                    <quill-editor [styles]="{'min-height': '120px'}" [maxLength]="1000" class="editor"
                        (onContentChanged)="onEditorChange($event)"></quill-editor>
                </div>
                <button type="submit" class="btn btn-primary btn-sm my-3" [disabled]="!answer.content">Post your
                    Answer</button>
            </form>
            <div>
                {{ publishedStatus }}
            </div>
            <hr>
        </div>
    </div>
</ng-template>