<div *ngIf="isLoading else showAns">
    <p>Loading Answers...</p>
</div>

<ng-template #showAns>
    <div class="ans-filter">
        <div class="ans-count">{{answers.length === 0 ? 'No answers yet' : answers.length === 1 ? '1 Answer' :
            (answers.length + ' Answers')}}
        </div>
        <div class="filter-btns">
            <a class="btn btn-recent">Recent</a>
            <a class="btn btn-oldest">Oldest</a>
            <a class="btn btn-votes filter-active">Votes</a>
        </div>
    </div>
    <div class="container" *ngFor="let ans of answers">
        <div class="ans-container">
            <div class="ans-left">
                <div class="upvote-btn"></div>
                <div class="upvote-value">12</div>
                <div class="accepted-ans"><i class="fa fa-check"></i></div>
            </div>
    
            <div class="ans-body">
                <!-- <div *ngIf="ans.userId === currentUserId()">
                    <b>Your Answer</b>
                </div> -->
    
                <quill-view-html [ngStyle]="editorStyle" [content]="ans.content" theme="snow"></quill-view-html>
            </div>
        </div>
        <app-qna-user-info [imageUrl]="usersMap.get(ans.userId)?.photoUrl!" [name]="ans.username" [userId]="ans.userId" [isQues]="false"
                [date]="ans.answeredDate"></app-qna-user-info>
    </div>

    <div *ngIf="isUserAllowedToAns" class="container m-3">
        <div class="m-3" style="height: 250px">
            <h5>Your Answer</h5>
            <form (ngSubmit)="addAnswer()">
                <div class="form-group my-3">
                    <quill-editor [styles]="{'min-height': '120px'}" [maxLength]="1000" id="editor"
                        (onContentChanged)="onEditorChange($event)"></quill-editor>
                </div>
                <button type="submit" class="btn btn-primary btn-sm my-3" [disabled]="!answer.content">Post your
                    Answer</button>
            </form>
            <div>
                {{ publishedStatus }}
            </div>
            <hr>
        </div>
    </div>
</ng-template>