footer {
    background-color: #343957;
    color: rgb(226, 226, 226);
}

#header-links {
    text-decoration: none;
    font-variant: small-caps;
    /* color: #E5233C; */
    font-weight: 600;
}

.social-handles-container {
    display: inline-flex;
    justify-content: center;
}

.social-handles-container > a > i {
    /* color: #E5233C; */
} 