.card-container {
    border-radius: 5px;
    background-color: #D9EAF7;
    padding: 8px;
    display: grid;
    max-width: 10rem;
    margin-left: auto;
}

.time {
    font-size: 12px;
    color: rgb(88, 88, 88);
}

.user-det {
    display: flex;
    margin-top: 5px;
}

.right-part {
    margin-left: 8px;
    display: grid;
}

.username {
    line-height: 15px;
    font-size: 12px;
}

a {
    line-height: 0%;
    font-size: 12px;
    text-decoration: none;
}