<div *ngIf="isLoading else showQues">
    <app-loader></app-loader>
</div>

<ng-template #showQues>
    <div class="container my-3">
        <p class="heading">{{ question!.title }}</p>
        <hr>
        <quill-view-html [content]="question!.content" theme="snow"></quill-view-html>

        <div class="img-container">
            <div *ngFor="let imgPath of question!.imgPaths">
                <!-- <p>{{getImageLink(imgPath)}}</p> -->
                <img src="{{getImageLink(imgPath)}}" alt="" onclick="window.open(this.src, '_blank');">
            </div>
        </div>

        <div *ngIf="question!.tags && question!.tags.length !== 0">
            <app-tags class="container" [tags]="question!.tags"></app-tags>
        </div>

        <app-qna-user-info [imageUrl]="user?.photoUrl!" [name]="question?.username" [userId]="question?.userId"
            [isQues]="true" [date]="question?.askedDate"></app-qna-user-info>

        <app-comments [qnaId]="question?.questionId!" [isQuestionComment]="true"></app-comments>

        <hr style="margin-top: 100px;">
        <app-answers [question]="question!"></app-answers>
    </div>
</ng-template>