<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink='/'>
            <img src="https://icons555.com/images/icons-blue/image_icon_stackoverflow_3_pic_512x512.png" width="30"
                height="30" class="d-inline-block align-top" alt="">
            ProbDiscuss
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink='/'>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink='/ask-question'>Ask Question</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div *ngIf="getUser() | async as user; else showLogin">
                <div class="navbar-nav nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img [ngStyle]="{'border-radius': '50%'}" src={{user.photoURL}} width="30" height="30"
                            onerror="this.src='https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png;'"
                            alt="...">
                        {{ user.email != null ? user.email.substring(0, user.email.indexOf('@')) : user.displayName }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a style="cursor: pointer;" class="dropdown-item" (click)="viewProfile()">Your Profile</a></li>
                        <li><a style="cursor: pointer;" class="dropdown-item">Help & Support</a></li>
                        <li><a style="cursor: pointer;" class="dropdown-item">Your Answers</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a style="cursor: pointer;" class="dropdown-item" (click)="logout()">Log Out</a></li>
                    </ul>
                </div>
            </div>
            <ng-template #showLogin>
                <button class="btn btn-primary btn-login" (click)="login()">Login with Google</button>
            </ng-template>
        </div>
    </div>
</nav>