/* E5233C */
/* 5873FE */
/* 343957 */

nav {
  background-color: #343957;
}

.active {
  color: rgb(48, 160, 230) !important;
  font-weight: 600;
  /* color: #E5233C; */
  /* background-color: #E5233C; */
  /* border-radius: 5px; */
}
/* 
.nav-item > a:hover {
  color: aqua;
} */

.navbar-brand {
  color: white;

}
.navbar-brand img {
  filter: brightness(100);
}

.navbar-toggler {
  color: #E5233C;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
  color: white;
}

.usertag {
    display:inline-block;
}

#profileName {
  display: none;
}

@media screen and (max-width: 990px) {
    .btn-login {
      margin-top: 10px;
    }

    #profileName {
      display: inline-block;
      margin-left: 5px;
    }
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.logout-icon {
  float:right;
  margin-top: 5px;
}