<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1>404</h1>

                <p class="mb-2 lead">The page you are looking for was not found.</p>
                <p class="mb-4 lead">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in
                    the first place?</p>
                <a routerLink="/" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
</div>