<div *ngIf="isProfileLoading else showProfile">
    <app-loader></app-loader>
</div>

<ng-template #showProfile>
    <section id="content" class="container">
        <div class="profile-header">
            <div>
                <div class="profile-photo">
                    <img src="{{viewUserObj.photoUrl}}" alt="..." width="120px" height="120px">
                </div>
                <div class="profile-body">
                    <h2 class="profile-heading">{{viewUserObj.username}}</h2>
                    <p class="lead"><i class="fa fa-birthday-cake"></i> Joined {{viewUserObj.registeredDate | dateAgo}}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-icon">
                            <i class="fa fa-star"></i></span>
                        <span class="panel-title"> User Stats</span>
                    </div>
                    <div class="panel-body">
                        <div class="stats-container">
                            <span>
                                <div>{{questionsList.length}}</div>
                                <div>Questions</div>
                            </span>
                            <span>
                                <div>{{answersList.length}}</div>
                                <div>Answers</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-icon"><i class="fa fa-trophy"></i></span>
                        <span class="panel-title"> Skills</span>
                        <div *ngIf="isUserAllowedToEdit()" class="skill-edit-btn">
                            <a *ngIf="isEditSkillEnabled" class="btn btn-success btn-sm mx-1"
                                (click)="saveUserSkills()">
                                <span><i class="fa fa-save"></i></span>
                                <span> Save </span>
                            </a>
                            <a class="{{isEditSkillEnabled ? 'btn btn-danger' : 'btn' }} btn-sm"
                                (click)="toggleEditSkillBtn()">
                                <span><i class="fa {{isEditSkillEnabled ? 'fa-window-close' : 'fa-edit'}}"></i></span>
                                <span class="panel-title"> {{ isEditSkillEnabled ? 'Cancel' : 'Edit/Add'}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <span (click)="onSkillTapped(skill)" class="badge" style="background-color: rgb(103, 53, 241); cursor: pointer;"
                            *ngFor="let skill of userEditSkills">
                            {{ isEditSkillEnabled ? (skill + ' x') : skill }}
                        </span>

                        <div *ngIf="userEditSkills.length === 0">
                            You haven't added any skills
                        </div>

                        <div class="input-group mt-3" *ngIf="isEditSkillEnabled">
                            <input type="text" class="form-control" placeholder="Type your skill, eg: Python"
                                aria-label="Skill" aria-describedby="basic-addon2" [(ngModel)]="skillInp">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="addNewSkill()">+ Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <p>Your Activity</p>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" *ngFor="let tab of activityTabs;" role="tab">
                        <a class="nav-link" [class.active]="selectedActTab === tab" (click)="selectedActTab = tab"
                            aria-controls="questions" role="tab" data-toggle="tab">{{tab}}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="my-3"></div>
                    <div *ngIf="selectedActTab === activityTabs[0]" role="tabpanel" class="tab-pane active"
                        id="questions">
                        <div class="ques-item" *ngFor="let question of questionsList">
                            <i class="fa fa-question-circle"></i><a (click)="onViewQuestion(question.questionId)">
                                {{question.title}}</a>
                        </div>
                        <div *ngIf="questionsList.length === 0">
                            No questions Asked<br>
                            <a class="btn btn-primary" routerLink='ask-question'>Ask Question</a>
                        </div>
                    </div>
                    <div *ngIf="selectedActTab === activityTabs[1]" role="tabpanel" class="tab-pane active"
                        id="answers">
                        <div class="ques-item" *ngFor="let answer of answersList">
                            <i class="fa fa-reply-all"></i><a (click)="onViewQuestion(answer.questionId)">
                                {{answer.questionTitle}}</a>
                        </div>
                        <div *ngIf="answersList.length === 0">
                            No answers found
                        </div>
                    </div>
                </div>

                <br>

            </div>
        </div>
    </section>
</ng-template>