.search-container {
    display: flex;
    justify-content: center;
    margin: 80px 20px 50px 20px;
    /* background-color: aquamarine; */
}

.search-btn {
    padding: 5px 20px;
    font-size: 20px;
}

h2 {
    text-align: center;
    color: rgb(121, 119, 119);
}

ais-search-box {
    max-width: 900px;
    width: 100%;
    /* background-color: blueviolet; */
}

.empty-results {
    display: grid;
    justify-content: center;
    align-items: center;
}